html,body{
    background-color: rgba(40,159,255,0.24);
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}
.bubble{
    width: 200px;
    height: 200px;
    border-radius:50%;
    /*background-color: #f8ffff;*/
    position: absolute;
    box-shadow: 0 20px 30px rgba(0,0,0,2),inset 0 10px 20px 5px rgba(255,255,255,1);
    /*背景模糊化*/
}

.b1
{
    left: 0%;
    top: 5%;
    transform: scale(0.6);
    animation: bubble 22s linear infinite , direction 3s ease-in-out infinite alternate;
    /*                    线性     无穷         规定以慢速开始和结束的过渡效果    动画应该轮流反向播放。*/
}
.b2
{
    left: 5%;
    top: 77%;
    transform: scale(0.4);
    animation: bubble 25s linear infinite , direction 2s ease-in-out infinite alternate;
}
.b3
{
    left: 19%;
    top: 50%;
    transform: scale(0.3);
    animation: bubble 27s linear infinite , direction 4s ease-in-out infinite alternate;
}
.b4
{
    left: 25%;
    top: 20%;
    transform: scale(0.7);
    animation: bubble 20s linear infinite , direction 2s ease-in-out infinite alternate;
}
.b5
{
    left: 33%;
    top: 43%;
    transform: scale(0.5);
    animation: bubble 24s linear infinite , direction 3s ease-in-out infinite alternate;
}
.b6
{
    left: 77%;
    top: 55%;
    transform: scale(0.6);
    animation: bubble 25s linear infinite , direction 2s ease-in-out infinite alternate;
}
.b7
{
    left: 88%;
    top: 10%;
    transform: scale(0.8);
    animation: bubble 19s linear infinite , direction 1s ease-in-out infinite alternate;
}
.b8
{
    left: 66%;
    top: 23%;
    transform: scale(0.4);
    animation: bubble 26s linear infinite , direction 2s ease-in-out infinite alternate;
}.b9
 {
     left: 53%;
     top: 5%;
     transform: scale(0.34);
     animation: bubble 27s linear infinite , direction 3s ease-in-out infinite alternate;
 }
.b10
{
    left: 53%;
    top: 77%;
    transform: scale(0.46);
    animation: bubble 25s linear infinite , direction 4s ease-in-out infinite alternate;
}

/*设置动画*/
@keyframes bubble{
    0%{
        margin-top: 100%;
    }
    100%{
        margin-top: -100%;
    }
}
/*设置冒泡方向*/
@keyframes direction {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: 50px;
    }
}
























